<!DOCTYPE html>
<html lang="en">
  <head>



    <script>
      window.onload = function () {
      
      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        
        data: [{
          type: "doughnut",
          startAngle: 60,
          //innerRadius: 60,
          indexLabelFontSize: 17,
          dataPoints: [
            { y: 10 },
            { y: 30 },
            { y: 50 },
            { y: 10},
          ]
        }]
      });
      chart.render();
      
      }
      </script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9t2ZsrarU4KQl7fZl6Yr2vkS3dckb_KY">
    </script>

      <!-- camvas dona-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/boton.css">

    <title>Mapa de casos </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/boton.css">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="\medico2" class="site_title"><img class = 'logo'></img><span>CLINICA HMMS</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>Médico</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3></h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Módulos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/MEDICO2">Pagina principal</a></li>
                    </ul>
                  </li>
                   
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="/">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                 
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="javascript:;"> Profile</a>
                      <a class="dropdown-item"  href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                  <a class="dropdown-item"  href="javascript:;">Help</a>
                    <a class="dropdown-item"  href="/"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </div>
                </li>

             
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Mapa general de casos y ubicaciones<small></small></h3>
                  </div>
                  <div class="col-md-6">
                   
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row data">
                  <style type="text/css">
                    /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
                    #map {
                      height: 560px;
                    }
                    #legend {
                      font-family: Arial, sans-serif;
                      background: #fff;
                      padding: 10px;
                      margin: 10px;
                      border: 3px solid #000;
                    }
                  </style>
                  <div class="col-md-12 col-sm-12 "> 
                    <div id="map"></div>
                    <div id="legend"><h3>Leyenda</h3></div>
                  </div>


                      <script type="text/javascript">
                        
                        var delay=100;
                        var infoWindow = new google.maps.InfoWindow();
                        var geocoder = new google.maps.Geocoder();
                        const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 8,
                            center: { lat: 10.9932, lng: -74.8049 },
                          });       
                          var iconBase = "http://maps.google.com/mapfiles/ms/icons/";
                          var icons = {
                            green: {
                              name: "Caso Negativo",
                              icon: iconBase + "green-dot.png",
                            },
                            yellow: {
                              name: "Tratamiento en Casa",
                              icon: iconBase + "yellow-dot.png",
                            },
                            orange: {
                              name: "En UCI",
                              icon: iconBase + "orange-dot.png",
                            },
                            pink: {
                              name: "Curado",
                              icon: iconBase + "pink-dot.png",
                            },
                            red: {
                              name: "Muerto",
                              icon: iconBase + "red-dot.png",
                            },
                          }
                          var legend = document.getElementById("legend");
                          for (var key in icons) {
          var type = icons[key];
          var name = type.name;
          var icon = type.icon;
          var div = document.createElement("div");
          div.innerHTML = '<img src="' + icon + '"> ' + name;
          legend.appendChild(div);
        }
                          map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);  

                          

                        function updateMap() {   
                          document.getElementById("submit").addEventListener("click", () => {
                          aver();
                          });
                        }

                        function getAddress(address,next){
                          console.log("Dirección a graficar: "+address+", correspondiente nombre: "+noms[count-1]);
                          geocoder.geocode({address:address}, (results,status) => {
                            if (status=="OK"){
                              console.log("results: "+Object.values(results[0]));
                                map.setCenter(results[0].geometry.location);
                                console.log("Data entrante: "+(count-1)+" "+datag[count-1]+noms[count-1]);
                                colormarker(datag[count-1],results,map,noms[count-1]);
                                
                            } else if (status =="OVER_QUERY_LIMIT") {
                              count--;
                              delay++;
                            } else {
                              alert("Geocode was not successful for the following reason: " + status);
                            }
                            next();
                          });
                        }

                        function colormarker(estado,results,resultsMap,nombre) {
                          if (estado==0){
                           var marker = new google.maps.Marker({
                              map: resultsMap,
                              position: results[0].geometry.location,
                              icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
                            }); 
                           google.maps.event.addListener(marker, 'mouseover', function() {
         infoWindow.setContent(nombre); 
         infoWindow.open(resultsMap,marker);
       });
                          } else
                          if (estado==2 || estado==3){
                           var marker = new google.maps.Marker({
                              map: resultsMap,
                              position: results[0].geometry.location,
                              icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
                            });
                            google.maps.event.addListener(marker, 'mouseover', function() {
         infoWindow.setContent(nombre); 
         infoWindow.open(resultsMap,marker);
         }); 
                          } else
                          if (estado==4){
                           var marker = new google.maps.Marker({
                              map: resultsMap,
                              position: results[0].geometry.location,
                              icon: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'
                            });
                            google.maps.event.addListener(marker, 'mouseover', function() {
         infoWindow.setContent(nombre); 
         infoWindow.open(resultsMap,marker);
       }); 
                          } else
                          if (estado==5){
                           var marker = new google.maps.Marker({
                              map: resultsMap,
                              position: results[0].geometry.location,
                              icon: 'http://maps.google.com/mapfiles/ms/icons/pink-dot.png'
                            }); 
                           google.maps.event.addListener(marker, 'mouseover', function() {
         infoWindow.setContent(nombre); 
         infoWindow.open(resultsMap,marker);
       });
                          } else
                          if (estado==6){
                           var marker = new google.maps.Marker({
                              map: resultsMap,
                              position: results[0].geometry.location,
                              icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                            }); 
                           google.maps.event.addListener(marker, 'mouseover', function() {
         infoWindow.setContent(nombre); 
         infoWindow.open(resultsMap,marker);
       });
                          }
                        }
                        
                        var nomg="<%= nom %>";
                        var dirg="<%= dir %>";
                        var noms=nomg.split(",");
                        var dirs=dirg.split(",");
                        var datag=[<%= data %>];
                        console.log(noms);
                        console.log(dirs);
                        console.log(datag);
                        var count=0;


                        function aver(){
                          if(count<dirs.length){
                            console.log("conteo antes de función: "+(count-1));
                            setTimeout('getAddress("'+dirs[count]+'",aver)',delay);
                            count++;
                            console.log("conteo después de función: "+(count-1));
                          } else {
                            console.log("Se han mostrado todos.");
                          }
                        }
                        
                        aver();

                      </script>
                  
                  <div class="col-md-3 col-sm-3">
                  </div>
                </div>
              </div>


                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <br />

          <div class="row">


                  


        </div>
        <!-- /page content -->

       
        <!-- /footer content -->
      </div>
    </div>



    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
	
  </body>
</html>
